.buttonShowMoreLess {
    background-color: #00a2ff;
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .buttonShowMoreLess:hover {opacity: 1}

.textInMore{
    text-align: justify;
    text-indent:5%;
}
